*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background: #bc4e9c; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(340, 95%, 50%, 0.450), hsla(317, 45%, 52%, 0.671)
    );
    background: linear-gradient(to right, hsla(340, 95%, 50%, 0.450), hsla(319, 100%, 71%, 0.67));

}

.custom-title{
    position: relative;
    left: -40px;
    text-align: center;
    text-shadow: gray 1px 2px 0px;
}

/*.form-label{*/
/*    position: relative;*/
/*    left: 550px;*/
/*    top: 5px;*/
/*}*/

/*.form-label2{*/
/*    position: relative;*/
/*    left: 550px;*/
/*    top: 10px;*/
/*}*/

/*.form-control{*/
/*    position: relative;*/
/*    left: 555px;*/
/*    top: 5px;*/
/*}*/

/*.form-control2{*/
/*    position: relative;*/
/*    left: 564px;*/
/*    top: 10px;*/
/*}*/

.btn-primary{
    position: relative;
    top: 25px;
    left: 610px;}

.picture{
    height: 350px;
    width: 328px;
    margin: 1px;
    padding: 1px;
}

